<div class="container">
  <div class="row justify-content-center align-content-center align-items-center" style="text-align: center; height: 100vh">
    <div class="align-self-center" style="display: inline-block; text-align: center">
      <fa name="minus-circle" style="font-size: 18rem; color: #e74c3c"></fa>
      <h1 style="color: #e74c3c">Co ty tutaj robisz?</h1>
      <h2>Jeżeli trafiłeś tutaj przypadkiem wróć,<br />
      w innym wypadku zaprzestań swoich niecnych działań!</h2>
    </div>
  </div>
</div>
