/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: #fff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
