 <div style="background-color: #fff; border-top-left-radius: 0.75rem; border-top-right-radius: 0.75rem; overflow: hidden">
    <h2 (click)="changeState()" style="margin-top: 0.6rem; width: 100%; text-align: center">Trwa generowanie twojego ogrodu zoologicznego</h2>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <h5 class="animate" style="margin-top: 1rem; width: 100%; text-align: center; left: -30rem; right: 0; position: relative">{{texts[currentText]}}</h5>
 </div>
