<h1 mat-dialog-title>Ukończono tworzenie twojego ogrodu zoologicznego</h1>
<div mat-dialog-content>
  <p>Aby go pobrać kliknij w przycisk poniżej</p>
</div>
<div mat-dialog-actions class="row justify-content-center" style="padding-bottom: 1rem;">
  <a href="https://workjoe.xyz"><button mat-raised-button color="primary">Pobierz</button></a>
</div>
