<div class="container" style="padding-top: 1rem; padding-bottom: 1rem;">

  <div class="col-12 my-3">
    <h4 class="header">Wybierz czasy generacji danych</h4>
    <mat-divider></mat-divider>
  </div>

  <div class="row">

    <div *ngFor="let item of dates" class="col-lg-4 my-2 my-lg-0">
      <div class="col-12" style="background-color: rgba(0, 0, 0, 0.05); border-radius: 0.75rem; height: 7rem;">
        <h6 style="padding-top: 0.8rem; text-align: center">Wybierz czas {{item.name}}</h6>
        <mat-form-field class="align-bottom;" style="position: absolute; bottom: 0; left: 1rem; right: 1rem;">
          <input #input matInput [matDatepicker]="picker" placeholder="Wybierz date" (dateChange)="item.value = input.value">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="col-12 my-3" style="margin-top: 3rem !important;">
    <h4 class="header">Wybierz wartośći początkowe</h4>
    <mat-divider></mat-divider>
  </div>

  <div class="col-12">
    <table class="table table-striped">
      <tbody>
      <tr *ngFor="let item of initialData">
        <td>{{item.name}}</td>
        <td><mat-form-field style="width: 100%"><input #input matInput placeholder="Wpisz liczbę" [value]=item.value (change)="item.value = input.value"  /></mat-form-field></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-12 my-3" style="margin-top: 3rem !important;">
    <h4 class="header">Wybierz ustawienia symulacji</h4>
    <mat-divider></mat-divider>
  </div>

  <div class="col-12">
    <table class="table table-striped">
      <tbody>
      <tr *ngFor="let item of symulationSettings">
        <td>{{item.name}}</td>
        <td><mat-slider #slider thumbLabel style="width: 100%" min="0" max="1" [step]="0.01" color="primary" [value]=item.value (change)="item.value = slider.value"></mat-slider></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <button mat-raised-button (click)="openBottomSheet()" style="width: 100%">Uruchom symulacje</button>
    </div>
  </div>

</div>

